*{
  margin: 0px;
  padding: 0px;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.card img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 0px;

}

.card{
  width: 300px;
  height: 400px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 1px solid #ccc;
  /* margin: 10px; */
  gap: 10px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content:space-between */
  gap: 20px;
  padding: 20px;
}


.card h2,p{
  margin: 5px 10px;
}
p{
  font-size: 18px;
  display: flex;
  /* align-items: center; */
  text-align: center  ;
}