*{
  margin: 0px;
  padding: 0px;
}
html, body {
  width: 100%;
  height: 100%;
}

.card{
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
}